.khungtren{        
    border:1px solid #ccc;
    color:white;
    text-align:center;
    padding-bottom:15px;
    width: 100px;
    height: 60px;
}
        #menu ul {
        width: 250px;
        padding: 0;
        list-style-type: none;
        text-align: left;
      }
      #menu li a {
        
        text-decoration: none;
        color: #0C0A0A;
        font-weight: bold;
        display: block;
      }
      #menu li:hover {
        background: #f1f1f1;
      }
    main{
        padding:20px;
        text-align: justify;
    }
    main h2{
        font-family:'Segoe UI',Arial,sans-serif;
        font-size:20px;
    }